@import 'tailwind/_base.css';
@import 'tailwind/_components.css';
@import 'tailwind/_utilities.css';
@import '_checkbox-radio-switch.css';
@import '_progress.css';
@import '_scrollbars.css';
@import '_table.css';
@import 'styles/_basic.css';
@import 'styles/_white.css';
@import 'styles/input.css';
@import '../../public/assets/css/sdk-1.1.0.min.css';
:root {
    --primary-50: 236 253 245;
    --primary-100: 209 250 229;
    --primary-200: 167 243 208;
    --primary-300: 110 231 183;
    --primary-400: 52 211 153;
    --primary-500: 16 185 129;
    --primary-600: 5 150 105;
    --primary-700: 4 120 87;
    --primary-800: 6 95 70;
    --primary-900: 4 78 56;
    --primary-950: 2 44 34;
    --surface-0: 255 255 255;
    --surface-50: 248 250 252;
    --surface-100: 241 245 249;
    --surface-200: 226 232 240;
    --surface-300: 203 213 225;
    --surface-400: 148 163 184;
    --surface-500: 100 116 139;
    --surface-600: 71 85 105;
    --surface-700: 45 55 72;
    --surface-800: 30 41 59;
    --surface-900: 15 23 42;
    --surface-950: 3 6 23;
}

.partiallyPaid {
    background-color: rgb(254 252 232/var(--tw-bg-opacity));
    border-color: rgb(254 240 138/var(--tw-border-opacity));
    border-style: solid;
    border-width: 1px;
    color: rgb(202 138 4/var(--tw-text-opacity));
}

.paid {
    background-color: rgb(240 253 244/var(--tw-bg-opacity));
    border-color: rgb(187 247 208/var(--tw-border-opacity));
    border-style: solid;
    border-width: 1px;
    color: rgb(22 163 74/var(--tw-text-opacity));
}

.unpaid {
    background-color: rgb(254 242 242/var(--tw-bg-opacity));
    border-color: rgb(254 226 226/var(--tw-border-opacity));
    border-style: solid;
    border-width: 1px;
    color: rgb(220 38 38/var(--tw-text-opacity));
}
.nhap{
    background-color: #008cef;
    border-color: #008cef;
    border-style: solid;
    border-width: 1px;
    color: white;
}
.huy{
    background-color: #ef0000;
    border-color: #ef0000;
    border-style: solid;
    border-width: 1px;
    color: white;
}
.btn_label {
    align-items: center;
    border-radius: 0.5rem;
    display: inline-flex;
    font-size: 10px;
    font-weight: 500;
    line-height: 1rem;
    padding: 0.25rem 0.625rem;
}
.btn_key {
    align-items: center;
    border-radius: 0.5rem;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1rem;
    padding: 0.25rem ;
    width: fit-content;
}
.keyword {
    border-color: rgb(187 247 208/var(--tw-border-opacity));
    border-style: solid;
    border-width: 1px;
    color: rgb(22 163 74/var(--tw-text-opacity));
}
.m-input.--md[data-v-acaa27d2] {
    height: 2.5rem !important;
}
.border_round{
    border-radius: 0.75rem !important;
}
.vue-tooltip {
    background-color: red;
}
.fit-content{
    width: fit-content;
}
.table_trip div{
    width: 120px;
    margin-right: 10px;
}
.month-picker__container
{
    z-index: 999999;
}
.dp__pointer
{
    border-radius: 0.75rem !important;
    padding-bottom: 10px
}
.booking_td .multiselect-wrapper {
    min-height: 28px !important;

}
.booking_td .multiselect-search{
    background: #c1c1c1 !important;
    color: black !important;
}
